.detail_features{
    border: 5px solid #0e4f1f;
    background: #19b84c;
    margin: 20px;
}

.detail_features_element
{
    text-decoration: none;
}
.detail_features_title1
{

  color: black;
  margin: 20px;
  list-style: none;

}
.detail_features_title2
{
    color: #858585;
    margin: 20px;
}

.detail_features_des
{
    border: 2px solid black;
    background: white;
    color: black;
    padding: 10px;
    margin: 20px;
    width: 90%;
   box-sizing: border-box;
}